{% extends "layout.html" %}
{% block title %}Admin Portal{% endblock %}
{% block loggedin %}

<li class="nav-item"><a class="nav-link" href="http://localhost:8000/admin_search">Search Flights</a></li>


{% endblock %}

{% block content %}

<div class="hero-wrap" style="background-image: url('/static/images/destination-2-1.jpg'); height:1024px">
  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 sidebar" style="background-color:beige; opacity:0.95; padding: 20px">
          <div class="sidebar-wrap ftco-animate">
            <h3 class="heading mb-4">Find Flight</h3>
            <form action="#" id='searchFlightForm'>
              <div class="fields">
                <!-- <div class="form-group">
                <input class="form-control" id='arrivalDest' placeholder="From" type="text">
              </div> -->

                <!-- <div class="form-group">
                <input class="form-control" id='departDest' placeholder="To" type="text">
              </div> -->

                <div class="form-group">
                  <!-- <input class="form-control" id='departDate' placeholder="departDate" type="text"> -->
                  <span class="form-label">Flight Code:</span>
                  <select class="form-control" id="flightCodeDDL">
                    <option>Select Flight No.</option>
                  </select>
                  <!-- <div class="col-md-6"> -->
                  <!-- <div class="form-group"> -->
                  <span class="form-label">Select Date:</span>
                  <input class="form-control" id="dateDDL" type="date">
                  <!-- required -->
                  <!-- </div> -->
                </div>

                <div class="form-group">
                  <!-- <form id="searchForm"> -->
                  <input class="btn btn-primary py-3" id="searchButton" type="submit" value="Search Bookings">
                  <!-- </form> -->
                </div>
              </div>
            </form>
          </div>
          <!-- <div class="sidebar-wrap ftco-animate">
  
        </div> -->
        </div>


        <div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
          <!-- <h4 class="mb-5">Flight Details</h4> -->
          <table class='table table-striped' id="outFlightsTable" style="background-color:aliceblue; opacity:0.95">
            <thead>
            <!-- <th>refCode</th>
            <th>Passenger ID</th>
            <th>Flight No</th>
            <th>Depart Date</th>
            <th>Price</th>
            <th>Class Type</th>
            <th>Baggage</th>
            <th>Meal</th>
            <th>Seat Num</th> -->
            </thead>
            <tbody>
            <!-- <tr>
              <td>cell</td>
              <td>cell</td>
              <td>cell</td>
              <td>cell</td>
              <td>cell</td>
              <td>cell</td>
              <td>cell</td>
              <td>cell</td>
            </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- loader-->
  <!--<div class="show fullscreen" id="ftco-loader">-->
  <!--  <svg class="circular" height="48px" width="48px">-->
  <!--    <circle class="path-bg" cx="24" cy="24" fill="none" r="22" stroke="#eeeeee" stroke-width="4"/>-->
  <!--    <circle class="path" cx="24" cy="24" fill="none" r="22" stroke="#F96D00" stroke-miterlimit="10"-->
  <!--            stroke-width="4"/>-->
  <!--  </svg>-->
  <!--</div>-->

  <!-- <form>
    <input class='btn btn-primary' id='assignSeatBtn1' type='button' value='Assign Seats'/>
  </form> -->
</div>

{% endblock %}

{% block scripts %}
<script>
  function dateToYMD(date) {
    let d = date.getDate();
    let m = date.getMonth() + 1; //Month from 0 to 11
    let y = date.getFullYear();
    return '' + y + '-' + (m <= 9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
  }

  async function displayFlightDownMenu() {
    let flightURL = "http://localhost:5001/getFlightNo";

    try {
      // get flight details of departure flight
      const response_flight =
        await fetch(
          flightURL, {method: 'GET'}
        );
      const all_flight_no = await response_flight.json();
      let flight_no_list = all_flight_no.all_flight_no;
      console.log(flight_no_list);

      if (response_flight.ok) {
        let rows = "";
        for (const flightNo of flight_no_list) {
          eachRow = "<option value='" + flightNo + "'>" + flightNo + "</option>";
          rows += eachRow;
        }
        $('#flightCodeDDL').empty();
        $('#flightCodeDDL').append(rows);
        // $('#flightCodeDDL').append("<option value='foo'>FOOOOO</option>");

      } else {
        // showError(data_dep.message);
      }
    } catch (error) {
      // Errors when calling the service; such as network error,
      // service offline, etc
      // showError
      console.log('There is a problem retrieving books data, please try again later.<br />' + error);
    }
  }

  displayFlightDownMenu();
  // <!-- Get flight details with arrival and departure destination -->
  // Helper function to display error message
  function showError(message) {
    // Display an error under the the predefined label with error as the id
    $('#error').text(message);
  }

  async function getBaggageInfos() {
    let baggageURL = "http://localhost:5003/getbaggage";
    try {
      // get flight details of departure flight
      const response_dep =
        await fetch(
          baggageURL, {method: 'GET'}
        );
      const baggage_details = await response_dep.json();
      // console.log(baggage_details);
      if (response_dep.ok) {
        let baggage_dict = {}
        for (const index in baggage_details) {
          // console.log(index);
          //thao's codes start
          // let baggage_code = baggage_details[baggage_dict].baggage_id
          // baggage_dict[baggage_code] = baggage_details[baggage_dict].baggage_desc;
          //thao's codes end
          let baggage_code = baggage_details[index].baggage_id;
          baggage_dict[baggage_code] = baggage_details[index].baggage_desc;
        }
        return baggage_dict;
      }
    } catch (e) {
      console.log(e)
    }
  }

  async function getMealInfos() {
    let mealURL = "http://localhost:5003/getMeal";
    try {
      // get flight details of departure flight
      const response_dep =
        await fetch(
          mealURL, {method: 'GET'}
        );

      const meal_details = await response_dep.json();
      if (response_dep.ok) {
        let baggage_dict = {}
        for (const id in meal_details) {
          let meal_id = meal_details[id].meal_id;
          baggage_dict[meal_id] = meal_details[meal_id].meal_desc;
        }
        return baggage_dict;
      }
    } catch (e) {
      console.log(e)
    }
  }


  // document.querySelector('#flightCodeDDL [value="' + "MH123" + '"]').selected = true;
  // document.getElementById("dateDDL").value = "2020-04-01";
  document.getElementById("dateDDL").valueAsDate = new Date();
  // console.log(new Date());

  function searchFlightForm() {} // dummy function to locate this form codes
  $("#searchFlightForm").submit(async (event) => {
    event.preventDefault();

    let flightCode = document.getElementById("flightCodeDDL").value;

    let dateDDL = document.getElementById("dateDDL").value;
    let date = dateToYMD(new Date(dateDDL));
    console.log(`search by flightCode(${flightCode}) and date(${date})`)

    try {
      let flightURL = `http://127.0.0.1:5000/booking/filter`;
      // ?q={"flightCode": "${flightCode}", "date": "${date}"}

      const response_dep =
        await fetch(flightURL, {
          method: 'POST'
          , headers: {"Content-Type": "application/json"}
          , body: JSON.stringify({
            "flightCode": flightCode,
            "date": date
          })
        });
      const booking_data = await response_dep.json();
      console.log(booking_data);

      let baggage_dict = await getBaggageInfos();
      console.log(baggage_dict);

      let meal_dict = await getMealInfos();
      console.log(meal_dict);

      if (response_dep.ok) {

        let rows = "";
        let head = "<th>RefCode</th>" + "<th>Passenger ID</th>" + "<th>Flight No</th>"
          + "<th>Depart Date</th>" + "<th>Price</th>" + "<th>Class Type</th>"
          + "<th>Baggage</th>" + "<th>Meal</th>" + "<th>Seat Num</th>";
        $('#outFlightsTable thead').empty();
        $('#outFlightsTable thead').append(head)
        for (const booking of booking_data) {

          let departDate = dateToYMD(new Date(booking.departDate));
          // console.log(departDate);
          // console.log("seat_number null : "+ !flight.seatNumber);
          let seatNumber = booking.seatNumber;
          if (!seatNumber) { // if seatNumber is undefined, show a button to assign it
            seatNumber = `<form><input type='submit' value='Assign Seats' class='btn btn-primary' id='assignSeatBtn' onClick="assignSeats(${booking.refCode})"/></form>`;
          }
          let baggage_desc = baggage_dict[booking.baggage];
          // console.log(`baggage_desc = ${baggage_desc}`);
          let meal_desc = meal_dict[booking.meal];

          let id = booking.refCode;
          let eachRow =
            "<td>" + booking.refCode + "</td>" +
            "<td>" + booking.pid + "</td>" +
            "<td>" + booking.flightNo + "</td>" +
            "<td>" + departDate + "</td>" +
            "<td>" + booking.price + "</td>" +
            "<td>" + booking.class_type + "</td>" +
            "<td>" + baggage_desc + "</td>" +
            "<td>" + meal_desc + "</td>" +
            `<td id=${id}>` + seatNumber + "</td>";

          rows += "<tr>" + eachRow + "</tr>";
        }
        $('#outFlightsTable tbody').empty();
        $('#outFlightsTable tbody').append(rows);
      } else {
        // showError(data_dep.message);
      }
    } catch (error) {
      // Errors when calling the service; such as network error, service offline, etc
      // console.log('There is a problem retrieving books data, please try again later.' + error);
    }
  });

  async function assignSeats(refCode) {

    event.preventDefault(); //Prevents screen from refreshing when submitting
    let flightURL = `http://127.0.0.1:5000/booking/assignSeat/${refCode}`;
    try {
      // get flight details of departure flight
      const response_dep =
        await fetch(
          flightURL, {
            method: 'GET'
            // ,mode: 'no-cors'
          });
      const booking_data = await response_dep.json();
      if (response_dep.ok) {
        let id = refCode;
        document.getElementById(id).innerHTML = booking_data.seat_number;
      }
    } catch (error) {
      // Errors when calling the service; such as network error,
      // service offline, etc
      // showError
      console.log('There is a problem retrieving books data, please try again later.<br />' + error);
    }
  }

</script>

{% endblock %}