{% extends "layout.html" %}
{% block title %}Online Check in{% endblock %}
{% block loggedin %} 

<li class="nav-item"><a class="nav-link" href="http://localhost:8000/search_flights">Search Flights</a></li>
<li class="nav-item"><a class="nav-link" href="http://localhost:8000/manage">My Bookings</a></li>
<li class="nav-item"><a class="nav-link" href="http://localhost:8000/logout">Logout</a></li>

{% endblock %}{% block content %}

    
<div class="hero-wrap js-fullheight" style="background-image: url('/static/images/image_5.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-9 ftco-animate mb-5 pb-5 text-center text-md-left" data-scrollax=" properties: { translateY: '70%' }">
        <!-- <h1 class="mb-4" >Boarding Pass</h1> -->
        <!-- <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Confirm your booking details<br/> before checking out with us!</p> -->
        <section class="ftco-section ftco-cart">
          <div class="container">
            <div class="row" >
              <div class="col-md-12 ftco-animate">
                <table class="table" id="cartTable" style="background-color: #ffffff; filter: alpha(opacity=40); opacity: 0.95;border:1px white;  box-shadow: 2px 2px 2px #999; color:black;width:100%;">
                  <thead class="thead-primary" >
                  <tr class="text-center" id = 'title'></tr>
                  <tr class="text-center">   
                    <th>Reference Code</th>    
                    <th>Flight Number</th>                         
                    <th colspan="2">Depart Time</th>
                    <th>Class</th>
                    <th>Seat Number</th>
                    

                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>  
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  </div>
</div>
<!-- 
          </div>
        </div>
      </div>
    </footer> -->
    
  

  <!-- loader -->
  <!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->



<script>


    //     include table for boarding pass and qr code

    //     replace hardcode refCode here

  async function getBookingData(getBookingURL) {
    try {
      var booking_response = await fetch (
            getBookingURL, 
            {method: 'GET', headers: { "Content-Type": "application/json" }}
            );

      booking_data = await booking_response.json();
      console.log(booking_data);
      if (booking_response.ok) {
        var booking = booking_data['booking']; 
        var date = new Date(booking.departDate);
        
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();
        var departDate = day + '-' + month + '-' + year;
        console.log(booking);
        var table_title = "<th colspan = 7> Boarding Pass</th>";
        $('#title').append(table_title);



        var foundBooking =
        

                "<tbody>" +
                
                "<tr>" +
                "<td style='text-align:center'>" + booking.refCode + "</td>" +
                "<td style='text-align:center'>" +  booking.flightNo + "</td>" +
                "<td style='text-align:center'>" +"Date: "+ departDate + "</td>" +
                "<td style='text-align:center'>" + "Time: " + booking.deptTime + "</td>" +
                "<td style='text-align:center'>"  + booking.class_type + "</td>" +
                "<td style='text-align:center'>" +  booking.seat_number + "</td>" +
                "</tr>"+
                "<tr>" +

                "<td colspan=7 style='text-align:center'>" + "<a href='https://media.giphy.com/media/RKGUgHhRTJxrQFwKYV/giphy.gif'>" + "<img src='https://api.qrserver.com/v1/create-qr-code/?data=https://media.giphy.com/media/RKGUgHhRTJxrQFwKYV/giphy.gif&size=50x50'" + "</a>" + "</td> </tr>" +
                
                
                


                "<tbody>";

        $('#cartTable tbody').empty();
        $('#cartTable').append(foundBooking);

        
      } else {
        console.log(booking_data.message);
      }
    } catch (error) {
      console.error(error);
    }
  }


  var status = {{ status|tojson}};
  var refCode = {{refCode|tojson}};
  if (status == "no"){
    error = "There are some problems processing your check in request. Please proceed to the counter to find out more."
    sessionStorage.setItem('error', error);
    window.location.replace('http://localhost:8000/manage')
  }else{     
    var getBookingURL = "http://127.0.0.1:5000/booking/" + refCode;
    getBookingData(getBookingURL);
  }





</script>

{% endblock %}