{% extends "layout.html" %}
{% block title %}Search Flights{% endblock %}



{% block loggedin %} 

<li class="nav-item"><a class="nav-link" href="http://localhost:8000/search_flights">Search Flights</a></li>
<li class="nav-item"><a class="nav-link" href="http://localhost:8000/manage">My Bookings</a></li>
<li class="nav-item"><a class="nav-link" href="http://localhost:8000/logout">Logout</a></li>

{% endblock %}

{% block content %}

<div class="hero-wrap js-fullheight" style="background-image: url('/static/images/bg_1.jpg') ">
  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 sidebar" style="background-color:beige; opacity:0.95">
          <div class="sidebar-wrap ftco-animate" style="padding:20px">
            <h2 class="mb-4">Find Flight</h2>
            <form action="#" id='searchFlightForm'>
              <div class="fields">
                <div class="form-group">
                  <!--                  Previously a text field-->
                  <!--								<input class="form-control" id='departDest' placeholder="To" type="text">-->
                  <select class="form-control" id="departDestCodeDDL">
                    <option disabled selected value="">Please Select - Flying from</option>
                  </select>
                </div>

                <div class="form-group">
                  <select class="form-control" id="arrivalDestCodeDDL">
                    <option disabled selected value="">Please Select - Flying to</option>
                  </select>
                </div>



                <div class="form-group">
                  <input class="btn btn-primary py-3 px-5" type="submit" value="Search">
                </div>
              </div>
            </form>
          </div>
          <div class="sidebar-wrap ftco-animate">

          </div>
        </div>


        <form action="#" id='createBookingForm' style="background-color:aliceblue; opacity:0.95">
          <div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
            <h4 class="mb-5">Step 1: Select your flights and date</h4>

            <div class="mbsc-grid mbsc-form-grid">
              <div class="mbsc-row">
                  <div class="mbsc-col-sm-12 mbsc-col-md-10">
                      <label>
                          Date
                          <input mbsc-input id="departDate" data-input-style="box" placeholder="Select Departure Date" />
                      </label>
                  </div>
              </div>
            </div>
          

            <table class='table table-striped' id="outFlightsTable">
              <thead>
              <th>Flight Details</th>
              <p id="error" style="color: red"></p>

              <!-- <th>Departure Destination</th>
              <th>Arrival Destination</th>
              <th>Departure Time</th>
              <th>Arrival Time</th>
              <th>Base Price</th>
              <th>Flight Type</th> -->
              </thead>
            </table>
            <!-- <table id="inFlightsTable" class='table table-striped'>
              <thead>
                <th>Inbound Flights</th>
              </thead>
            </table> -->
            <div class="fields">
              <h4>
                <class
                ="mb-5">Step 2: Select your flight class
              </h4>
              <div class="row">
                <div class="col-md-6">
                  Class:
                  <div class="form-group">
                    <div class="select-wrap one-third">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select class="form-control" id="class_name" name="" placeholder="Class">
                        <option value="economy">Economy</option>
                        <option value="business">Business</option>
                        <option value="first">First</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <!-- Length:
                  <div class="form-group">
                  <div class="select-wrap one-third">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="flight_length" class="form-control" placeholder="Length">
                    <option value="short">Short-Haul</option>
                    <option value="long">Long-Haul</option>
                  </select>
                  </div>
                  </div> -->
                </div>
              </div>

              <h4>
                <!--                <class ="mb-5">Step 3: Select your add-ons-->
              </h4>
              <div class="row">
                <div class="col-md-6">
                  In-Flight Meal:
                  <div class="form-group">
                    <div class="select-wrap one-third">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select class="form-control" id="meal_desc" name="" placeholder="Length">
                        <option value="0">No Meal</option>
                        <option value="1">Fruit Cup</option>
                        <option value="2">Breakfast Set</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  Baggage:
                  <div class="form-group">
                    <div class="select-wrap one-third">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select class="form-control" id="baggage" name="" placeholder="Baggage">
                        <option value="no baggage">No Baggage</option>
                        <option value="standard">Standard (15kg)</option>
                        <option value="add30">30kg</option>
                        <option value="add50">50kg</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input class="btn btn-primary py-3" type="submit" value="Proceed to Checkout">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script>

  mobiscroll.settings = {
      lang: 'en',                                // Specify language like: lang: 'pl' or omit setting to use default
      theme: 'ios',                              // Specify theme like: theme: 'ios' or omit setting to use default
      themeVariant: 'light',                 // More info about themeVariant: https://docs.mobiscroll.com/4-10-3/calendar#opt-themeVariant
      display: 'inline'                          // Specify display mode like: display: 'bottom' or omit setting to use default
  };
  
  $(function () {
    today = new Date()
    $('#departDate').mobiscroll().calendar({
        display: 'bubble',
        defaultValue: today,
        min: today,
        touchUi: false,
        returnFormat: 'iso8601'
    });
  });
</script>

<script>
  // Helper function to display error message
  function showError(message) {
    // Display an error under the the predefined label with error as the id
    $('#error').text(message);
  }

  pid = sessionStorage.getItem('pid');
  departDest = sessionStorage.getItem('departDest');
  arrivalDest = sessionStorage.getItem('arrivalDest');

  async function displayFlyingFromDDL() {

    let flightURL = "http://localhost:5001/getFlightCode";
    try {
      console.log('try');
      // get flight details of departure flight
      const flight =
        await fetch(
          flightURL, {method: 'GET',
            // mode: 'same-origin'
          }
        );
      const flight_code_list = await flight.json();
      console.log(flight_code_list);

      if (flight.ok) {
        let rows = "";
        for (const flightCode of flight_code_list) {
          eachRow = "<option value='" + flightCode.code + "'>" + flightCode.name + "</option>";
          rows += eachRow;
        }
        // $('#departDestCodeDDL').empty();
        $('#departDestCodeDDL').append(rows);
        $('#arrivalDestCodeDDL').append(rows);

      } else {
        showError(data_dep.message);
        // console.log('else');
      }
    } catch (error) {
      // Errors when calling the service; such as network error,
      // service offline, etc
      // alert('There is no internet connection, please try again later.<br />');
      console.log("catch error");
    }
  }
  displayFlyingFromDDL();

  $("#searchFlightForm").submit(async (event) => {

    //Prevents screen from refreshing when submitting
    event.preventDefault();

    var flightURL = "http://127.0.0.1:5001/flight/";

    //Get form data
    let departDest = document.getElementById("departDestCodeDDL").value;
    let arrivalDest = document.getElementById("arrivalDestCodeDDL").value;
    // console.log(arrivalDest + ' --- ' + departDest);
    // return;

    flightURL_dep = flightURL + departDest + '/' + arrivalDest;
    // flightURL_ret = flightURL + arrivalDest + '/' + departDest;

    try {
      // get flight details of departure flight
      const response_dep =
        await fetch(
          flightURL_dep, {method: 'GET'}
        );
      const data_dep = await response_dep.json();
      console.log(data_dep);
      var out_flights = data_dep.flight;
      if (response_dep.ok) {
        $("#error").hide()
        var rows = "";
        for (const flight of out_flights) {
          eachRow =
            "<td>" +
            "Flight Number: " + flight.flightNo + "<br>" +
            "Departure Destination: " + flight.departDest + "<br>" +
            "Arrival Destination: " + flight.arrivalDest + "<br>" +
            "Departure Time: " + flight.deptTime + "<br>" +
            "Arrival Time: " + flight.arrivalTime + "<br>" +
            "Base Price: $" + flight.basePrice + "<br>" +
            // "Type: " + flight.type + "</td>" +
            "<td><input value=" + "'" + flight.flightNo + "'" + "class='outbound_flight' name='type_radio' type='radio' /></td>";
          rows += "<tbody><tr>" + eachRow + "</tr></tbody>";
        }
        $('#outFlightsTable tbody').empty();
        $('#outFlightsTable').append(rows);
        
      } else {
        showError(data_dep.message);
      }
    } catch (error) {
      // Errors when calling the service; such as network error,
      // service offline, etc
      showError
      ("Please select destinations.");

    }

  });

  $("#createBookingForm").submit(async (event) => {
    event.preventDefault();
    // var pid = window.location.hash.substring(pid).substring(1);
    //Prevents screen from refreshing when submitting


    var bookingURL = "http://127.0.0.1:5000/booking/create";
    var pricingURL = "http://127.0.0.1:5003/pricing/getbaggage/";
    var flightURL = "http://127.0.0.1:5001/flight/";

    //Get form data

    var outbound_flightNo = $(".outbound_flight").val();
    // var inbound_flightNo = $(".inbound_flight").val();
    var class_type = $('#class_name').val();
    var flight_length = $('#flight_length').val();
    var meal_desc = $('#meal_desc').val();
    var baggage_desc = $('#baggage').val();
    // var class_type = flight_length + '_' + class_name
    // var today = new Date();
    // var baggage_desc = flight_length + '_' + baggage;

    var departDate = $('#departDate').mobiscroll('getVal');

    // window.location.href = './cart.html';



    // pid=localStorage.getItem('pid');
    pricingURL += baggage_desc;
    flightURL += outbound_flightNo;
    // console.log(flightURL);

    try {

      // get flight base price
      const flightbaseprice_response =
        await fetch(
          flightURL, {
            method: 'GET'
          });
      const flightbaseprice_data = await flightbaseprice_response.json();
      if (flightbaseprice_response.ok) {
        var flightbaseprice = flightbaseprice_data.flight['basePrice'];
        localStorage.setItem('flightbaseprice', flightbaseprice);

      } else {
        showError(flightbaseprice_data.message);
      }
      // get baggage id
      const baggageid_response =
        await fetch(
          pricingURL, {
            method: 'GET'
          });
      const baggageid_data = await baggageid_response.json();
      if (baggageid_response.ok) {
        var baggageid = baggageid_data.baggage_id;
        // localStorage.setItem('baggageid', baggageid);
        // console.log(baggageid);
      } else {
        showError(baggageid_data.message);
      }
      // console.log('hihi')
      // console.log(pid);
      // console.log(outbound_flightNo);
      // console.log(flightbaseprice);
      // console.log(departDate);
      // console.log(class_type);
      // console.log(baggageid);
      // console.log(meal_desc);


      const response_booking =
        await fetch(
          bookingURL, {
            method: 'POST',
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
              pid: pid,
              flightNo: outbound_flightNo,
              base_price: flightbaseprice,
              departDate: departDate,
              class_type: class_type,
              baggage: baggageid,
              meal: meal_desc
            })
          });


      const data_booking = await response_booking.json();

      if (response_booking.ok) {

        refCode = data_booking.refCode;
        sessionStorage.setItem('refCode', refCode);

        returnDate = $('#departDate').mobiscroll('getVal');
        sessionStorage.setItem('departDate', returnDate);


        window.location.href = 'cart';
        // console.log(data_booking);

        // // relocate to home page
        // window.location.replace(homeURL);

      } else {

        showError(data_booking.message);
      }
    } catch (error) {
      // Errors when calling the service; such as network error,
      // service offline, etc
      showError
      ("There is a problem adding this book, please try again later. " + error);

    } // error
  });

</script>

{% endblock %}