{% extends "layout.html" %}

{% block content %}

<div class="hero-wrap js-fullheight" style="background-image: url('/static/images/bg_1.jpg')">


<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 sidebar"  style="background-color:beige; opacity:0.95">
        <div class="sidebar-wrap ftco-animate" style="padding:20px">
          <h2 class="mb-4">Find Flight</h2>
          <form action="#" id='searchFlightForm'>
            <div class="fields">
              <div class="form-group">
                <!--								<input class="form-control" id='departDest' placeholder="To" type="text">-->
                <select class="form-control" id="departDestCodeDDL">
                  <option disabled selected value="">Please Select - Flying from</option>
                </select>
              </div>

              <div class="form-group">
                <!--								<input class="form-control" id='arrivalDest' placeholder="From" type="text">-->
                <select class="form-control" id="arrivalDestCodeDDL">
                  <option disabled selected value="">Please Select - Flying to</option>
                </select>
              </div>

              <div class="form-group">
                <input class="btn btn-primary py-3 px-5" type="submit" value="Search">
              </div>
            </div>
          </form>
        </div>
        <div class="sidebar-wrap ftco-animate">

        </div>
      </div>


      <form action="#" id='createBookingForm'  style="background-color:aliceblue; opacity:0.95">
        <div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
          <h4 class="mb-5">Step 1: Select your flights</h4>
          <table class='table table-striped' id="outFlightsTable">
            <thead>
            <th>Flight Details</th>

            <!-- <th>Departure Destination</th>
            <th>Arrival Destination</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Base Price</th>
            <th>Flight Type</th> -->
            </thead>
          </table>
          <!-- <table id="inFlightsTable" class='table table-striped'>
            <thead>
              <th>Inbound Flights</th>
            </thead>
          </table> -->
          <div class="fields">
            <h4>
              <class
              ="mb-5">Step 2: Select your flight class
            </h4>
            <div class="row">
              <div class="col-md-6">
                Class:
                <div class="form-group">
                  <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select class="form-control" id="class_name" name="" placeholder="Class">
                      <option value="economy">Economy</option>
                      <option value="business">Business</option>
                      <option value="first">First</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <!-- Length:
                <div class="form-group">
                <div class="select-wrap one-third">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <select name="" id="flight_length" class="form-control" placeholder="Length">
                  <option value="short">Short-Haul</option>
                  <option value="long">Long-Haul</option>
                </select>
                </div>
                </div> -->
              </div>
            </div>

            <h4>
              <class
              ="mb-5">Step 3: Select your add-ons
            </h4>
            <div class="row">
              <div class="col-md-6">
                In-Flight Meal:
                <div class="form-group">
                  <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select class="form-control" id="meal_desc" name="" placeholder="Length">
                      <option value="0">No Meal</option>
                      <option value="1">Fruit Cup</option>
                      <option value="2">Breakfast Set</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                Baggage:
                <div class="form-group">
                  <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select class="form-control" id="baggage" name="" placeholder="Baggage">
                      <option value="no baggage">No Baggage</option>
                      <option value="standard">Standard (15kg)</option>
                      <option value="add30">30kg</option>
                      <option value="add50">50kg</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input class="btn btn-primary py-3" type="submit" value="Proceed to Checkout">
                </div>
              </div>
      </form>
    </div>
  </div>
  </div>
  
{% endblock %}