<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width" name="viewport">

  <title>Create an Account</title>

  <link href="" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- Bootstrap libraries -->
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <!-- Latest compiled and minified CSS -->
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">

  <!-- Latest compiled and minified JavaScript -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="about.html">Fly Like T6</a>
    <button aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#ftco-nav"
            data-toggle="collapse" type="button">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" href="search_flights.html">Search Flights</a></li>
        <li class="nav-item"><a class="nav-link" href="manage_booking.html">My Bookings</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">Logout</a></li>

      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
<h1 class="display-4">Create an Account</h1>
<form id='create_accountForm'>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input aria-describedby="emailHelp" class="form-control" id="firstName"
           placeholder="Enter your First name or Given name"
           type="text"
           value="Jason">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input class="form-control" id="lastName" placeholder="Enter your last name " type="text" value="Tan">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" id="email" placeholder="Enter your email, you will use this to login" type="email"
           value="jasontan@sis.smu.edu.sg">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" id="password" placeholder="Enter password" type="password" value="abc123">
    <!--          value="abc123"-->
  </div>
  <div class="form-group">
    <label for="pid">Username</label>
    <input class="form-control" id="pid" placeholder="Enter a username" type="text" value="jasontan_99">
  </div>
  <div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input class="form-control" id="dateOfBirth"
           placeholder="Enter your date of birth in yyyy-mm-dd format, eg. 1976-12-12"
           type="text" value="1990-01-01">
  </div>
  <div class="form-group">
    <label for="contactNo">Contact Number </label>
    <input class="form-control" id="contactNo" placeholder="Enter your mobile number eg. 99330292" type="text"
           value="91236677">
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
<label class="text-danger" id="error"></label>
</body>
<script>
  // Helper function to display error message
  function showError(message) {
    // Display an error under the the predefined label with error as the id
    $('#error').text(message);
  }

  $("#create_accountForm").submit(async (event) => {
    //Prevents screen from refreshing when submitting
    event.preventDefault();

    var serviceURL = "http://127.0.0.1:5002/passenger/register/";
    // var homeURL = "http://127.0.0.1/bookstore/";

    //Get form data
    var email = $('#email').val();
    var password = $('#password').val();
    var firstName = $('#firstName').val();
    var lastName = $('#lastName').val();
    var dateOfBirth = $('#dateOfBirth').val();
    var contactNo = $('#contactNo').val();
    var pid = $('#pid').val();

    serviceURL += email;

    try {
      const response =
        await fetch(
          serviceURL, {
            method: 'POST',
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
              pid: pid,
              password: password,
              email: email,
              firstName: firstName,
              lastName: lastName,
              dateOfBirth: dateOfBirth,
              contactNo: contactNo
            })
          });
      const data = await response.json();

      if (response.ok) {
        document.location.href = "search_flights.html";

        // // relocate to home page
        // window.location.replace(homeURL);
        return false;
      } else {
        console.log(data);
        showError(data.message);
      }
    } catch (error) {
      // Errors when calling the service; such as network error,
      // service offline, etc
      showError
      ("A problem occurred when creating your account, please try again later. " + error);

    } // error
  });
</script>
</html>
